@{
    ViewData["Title"] = "Home Page";
}

<div>
    Access token @ViewData["access_token"] <br />
    Expire in @ViewData["expires_in"]<br />
    Refresh token @ViewData["refresh_token"]<br />
    Expires @ViewData["expires"]<br />
</div>

<div>
    Character ID @ViewData["CharacterID"]<br />
    Character Name @ViewData["CharacterName"]<br />
    Expires On @ViewData["ExpiresOn"] <br />
    Scopes @ViewData["Scopes"]<br />
    Token type @ViewData["TokenType"]<br />
    Character Owner Hash @ViewData["CharacterOwnerHash"] <br />
    <img src="@ViewData["image"]" />
</div>


@*<div>
    @ViewData["mininglist"]
</div>*@

<div>
    @ViewData["emessage"]
</div><div>
    @ViewData["error"]
</div><div>
    @ViewData["data"]
</div>